@using  web.Models.CarInfo
@using static web.Models.AllEnum
@model  BigCarInfoViewModel
@{
    ViewData["Title"] = "运输车辆";
}






<form asp-controller="IssueMsg" asp-action="Issue" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>

    @*上传照片  微信传图

    上传视频 微信上传视频*@

    <h2 class="text-center">发布大型运输车辆信息</h2>
    <div class="form-group">
        <label asp-for="Title" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Title" required="required" class="form-control" placeholder="请输入标题" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="Price" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Price" required="required" class="form-control" type="number" pattern="[0-9]*" placeholder="请输入每公里单价" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="CarTypeIn" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="CarTypeIn" asp-items="@Html.GetEnumSelectList<CarType>()" class="form-control"></select>
            <span asp-validation-for="CarTypeIn" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="LoadWeightOut" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="LoadWeightOut" asp-items="@Html.GetEnumSelectList<LoadWeight>()" class="form-control"></select>
            <span asp-validation-for="LoadWeightOut" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="AreaRange" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="AreaRange" asp-items="@Html.GetEnumSelectList<AreaRange>()" class="form-control"></select>
            <span asp-validation-for="AreaRange" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="Desc" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <textarea asp-for="Desc" class="form-control" placeholder="请输入车辆描述信息" rows="5">
            </textarea>
            <span asp-validation-for="Desc" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="InZoneInt" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="InZoneInt" asp-items="@Html.GetEnumSelectList<InZone>()" class="form-control"></select>
            <span asp-validation-for="InZoneInt" class="text-danger"></span>
        </div>
    </div>
    
    <div class="form-group">
        <label asp-for="Phone" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Phone" required="required" class="form-control" id="phone" type="tel" placeholder="请输入手机号" />
            <span asp-validation-for="Phone" class="text-danger"></span>
            <input type="button" class="btn btn-default" id="btn" value="免费获取验证码" onclick="sendCaptcha()" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Name" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Name" required="required" class="form-control" placeholder="请输入姓名" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" id="issue" class="btn btn-default">立即发布</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script type="text/javascript">
        var countdown = 120;
        function sendCaptcha() {
            var obj = $("#btn");
            var phone = $("#phone").val();  //获取phone的值
            //进行phone检测
            if (checkPhone(phone)) {
                settime(obj);
                $.get("/api/Common/Captcha", { phoneNumber: phone },
                    function (returnData) {
                        //返回值 判断
                        switch (returnData) {
                            case 0:             //正常
                                alert("验证码已发送!"); break;
                            case -2:      //传递参数为空
                            case -1:      //不是有效手机号
                                alert("请输入正确的手机号码!"); break;
                            case -3:      //短时间内发送验证码次数过多
                                alert("一段时间内发送验证码次数过多,请30分钟后重试!"); break;
                        }
                    }
                );
            } else {
                alert("请输入正确的手机号码");
            }
        }

        //效验电话号码
        function checkPhone(phone) {
            if (phone == "" || phone === "" || phone == undefined
                || phone === undefined || phone == null || phone === null) {
                return false;
            }
            if (isMobil(phone)) {
                return true;
            }
        }
        //效验电话号码正则表达式
        function isMobil(s) {
            var patrn = /^1(3|4|5|7|8)\d{9}$/;
            if (!patrn.exec(s)) return false
            return true
        }

        function settime(obj) { //发送验证码倒计时
            if (countdown == 0) {
                obj.attr('disabled', false);
                //obj.removeattr("disabled");
                obj.val("免费获取验证码");
                countdown = 120;
                return;
            } else {
                obj.attr('disabled', true);
                obj.val("重新发送(" + countdown + ")");
                countdown--;
            }
            setTimeout(function () {
                settime(obj)
            }
                , 1000)
        }
    </script>
}
